.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
  border-radius: 12px;
  max-width: 20.8125rem;
  text-align: center;
  padding: 15px 0px;
}

.btn-darkblue {
  color: #FCFAF9;
  background-color: #191826;
}
.btn-darkblue:hover {
  color: #FCFAF9;
  background-color: #66E2DC;
}

.btn-white {
  color: #191826;
  background-color: #FCFAF9;
}
.btn-white:hover {
  color: #191826;
  background-color: #FFB964;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url(./assets/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-position: right -190px bottom 100px;
}
@media (min-width: 700px) {
  body {
    background-image: url(./assets/bg-pattern-1.svg), url(./assets/bg-main-tablet.png);
    background-position: right -40px top -40px, left -370px top -300px;
    background-size: 266px auto, auto;
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url(./assets/bg-pattern-1.svg), url(./assets/bg-main-desktop.png);
    background-position: right 0px top -50px, left -370px top -300px;
  }
}

.header {
  padding: 40px 0 64px 24px;
}
@media (min-width: 700px) {
  .header {
    max-width: 696px;
    margin: 0 auto;
    padding: 62px 0 95px 0px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1110px;
    padding: 62px 0px 127px 0px;
  }
}

@media (min-width: 700px) {
  .container {
    max-width: 696px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}

.container__intro {
  padding: 0 24px;
  margin-bottom: 68px;
  color: #191826;
}
@media (min-width: 700px) {
  .container__intro {
    max-width: 585px;
    padding: initial;
    margin-bottom: 110px;
  }
}
@media (min-width: 1200px) {
  .container__intro {
    max-width: 1040px;
  }
}

.intro__title {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  .intro__title {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .intro__title {
    font-size: 88px;
    margin-bottom: 40px;
  }
}

.intro__text {
  line-height: 1.625;
}
@media (min-width: 700px) {
  .intro__text {
    font-size: 18px;
    line-height: 1.5;
    max-width: 514px;
  }
}
@media (min-width: 1200px) {
  .intro__text {
    font-size: 20px;
    max-width: 825px;
  }
}

.container__offer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 6.1rem 23.75rem 1rem 1fr;
  margin-bottom: 64px;
}
@media (min-width: 700px) {
  .container__offer {
    grid-template-columns: 64px auto 65px 1fr 1fr 50px;
    grid-template-rows: 138px 150px 268px 182px 96px;
    max-width: 696px;
    margin-bottom: 87px;
  }
}
@media (min-width: 1200px) {
  .container__offer {
    max-width: 1110px;
    grid-template-columns: 118px 312px 155px 446px 95px;
    grid-template-rows: 213px 90px 339px 171px 115px;
  }
}

.offer__bg {
  border-radius: 12px 12px 0 0;
  background-color: #191826;
  background-image: url(./assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1/-1;
  grid-row: 2/4;
}
@media (min-width: 700px) {
  .offer__bg {
    background-position: top -40px left 215px;
    border-radius: 12px;
    grid-row: 2/5;
  }
}
@media (min-width: 1200px) {
  .offer__bg {
    background-position: top -50px left 352px;
  }
}

.offer__img {
  max-width: 208px;
  grid-column: 2/2;
}
@media (min-width: 700px) {
  .offer__img {
    grid-column: 2/4;
    max-width: 248px;
    aspect-ratio: 1/2.245;
  }
}
@media (min-width: 1200px) {
  .offer__img {
    max-width: 312px;
    aspect-ratio: initial;
    grid-column: 2/3;
  }
}

.offer__content {
  color: #FCFAF9;
  background-color: #FA7453;
  border-radius: 12px;
  grid-column: 1/-1;
  grid-row: 3/-1;
  padding: 48px 36.5px;
}
@media (min-width: 700px) {
  .offer__content {
    grid-column: 3/6;
    max-width: 399px;
  }
}
@media (min-width: 1200px) {
  .offer__content {
    grid-column: 4/5;
    max-width: 446px;
    padding: 58px 59px 48px 54px;
  }
}

.offer__title {
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 12px;
}
@media (min-width: 700px) {
  .offer__title {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .offer__title {
    margin-bottom: 22px;
  }
}

.offer__text {
  font-size: 18px;
  margin-bottom: 36px;
  line-height: 1.55;
}
@media (min-width: 1200px) {
  .offer__text {
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 39px;
  }
}

.offer__price {
  font-size: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 0.8;
  margin-bottom: 32px;
}
.offer__price .price__time {
  font-size: 18px;
  line-height: 1.6;
}
@media (min-width: 1200px) {
  .offer__price {
    margin-bottom: 46px;
  }
}

.offer__ios {
  margin-bottom: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 0px 24px 80px 24px;
  max-width: 696px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .footer {
    padding: initial;
  }
}
@media (min-width: 1200px) {
  .footer {
    max-width: 1110px;
    flex-direction: row;
    align-items: flex-start;
    gap: 137px;
  }
}

.footer__logo {
  max-width: 146px;
  margin-bottom: 32px;
}

@media (min-width: 700px) {
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .footer__content {
    gap: 359px;
  }
}

.footer__text {
  margin-bottom: 64px;
  line-height: 1.625;
}
@media (min-width: 700px) {
  .footer__text {
    max-width: 366px;
    margin-bottom: initial;
  }
}

.footer__social {
  display: flex;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */